body {
    background-image: url(../img/fond.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#conteneur {
    margin: 0 auto;
    width: 1000px;
    /* height: 500px; */
    background: #fff;
    border: 1px solid grey;
    box-shadow: 5px -5px inset;
}

/* header */
header {
    height: 100px;
    background: url(../img/logo.png) no-repeat left top;
    margin-left: 10px;
}

header h1 {
    font-size: 2.6em;
    font-style: oblique;
    padding-left: 20px;
}

header .boutique p {
    color: #ff99cc;
    font-size: 0.9em;
    font-weight: lighter;
    font-style: italic;
    padding-left: 35px;
}

header .boutique {
    width: 350px;
    float: left;
    height: 100%;
    line-height: 5px;
    margin-left: 30px;
}

header .aide {
    width: 300px;
    float: left;
    height: 100%;
    line-height: 1px;
}

header .aide h2 {
    color: #33ccff;
    font-weight: lighter;
}

header .aide figcaption {
    position:absolute;
    top: 12px;
    left: 45px;
    color: #33ccff;
    font-weight: bold;
}
     
header .aide figure {
    position: relative;
}

header .aide p {
    font-size: 0.9em;
    font-weight: lighter;
    font-style: italic;
    color: grey;
}

header .compte {
    width: 270px;
    float: right;
    height: 95%;
    background: #33ccff;
    color: #fff;
    line-height: 2px;
}

header .compte p {
    text-align: center;
    font-size: 0.9em;
    font-weight: lighter;
}

header .compte hr {
    color: #fff;
}

header .compte figcaption {
    position:absolute;
    top: 25px;
    left: 60px;
    font-size: 0.9em;
    font-weight: lighter;
}

header .compte figure {
    margin: auto 0;
    position: relative;
}

.clear {
    clear: both;
}

/* nav */
nav {
    height: 60px;
    background: #33ccff;
    line-height: 60px;
}

nav li {
    display: inline;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

/* sous-section */
main .sous-section, main .sous-section2 {
    box-sizing: border-box;
    float: left;
    height: 180px;
    font-size: 0.9em;
    font-weight: lighter;
    padding: 0 10px;
    
}

main .sous-section {
    width: 250px;
}

main .sous-section2 {
    width: 500px;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    height: 140px;
}

main .sous-section h4, main .sous-section2 h4 {
    color: #33ccff;
}

main .sous-section figcaption {
    position:absolute;
    top: 10px;
    left: 60px;
    /* font-size: 0.9em;
    font-weight: lighter; */
}

main .sous-section figure {
    margin: auto 0;
    position: relative;
}

/* section 3 .last */
.last {
    float: left;
    width: 320px;
    height: 180px;
    border: 1px solid grey;
    border-radius: 1em;
}

.last h4 {
    margin-top: 0;

    background-color: darkgrey;
    height: 30px;
    text-align: center;
}

.last img, .last p {
    display: inline-block;
    
}

.last p {
    font-size: 0.6em;
    font-weight: lighter;
    width: 180px;
}

.last a {
    display: block;
    color: #33ccff;
    text-decoration: none;
    position: absolute;
    /* bottom: 0; */
}

/* footer */
footer {
    height: 50px;
    line-height: 50px;
    background: #33ccff;
    /* margin: 0 auto; */
    text-align: center;
    
}

footer li {
    display: inline;
    text-decoration: none;
    color: #fff;
}

footer li a {
    color: #fff;
    text-decoration: none;
}
